#root{
    width: 100vw;
    height: 100vh;
    background-color: #e0e5e9;
    padding: 30px;
    box-sizing: border-box;
}
@media (min-width: 768px){
    .row{
        justify-content: space-between;
    }
    .col-md-6{
      width: 49% !important;
    }
  }